body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: all 0.4s;
    border-radius: 15%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

#container {
    margin: 15px auto;
    max-width: 600px;
}

h1 {
    color: white;
    line-height: 1.1;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    background: slategray;
    margin: 0;
    padding: 17px 0;
}

#colorDisplay {
    font-size: 150%;
}

#qMark {
    font-size: 158%;
}

#message {
    display: inline-block;
    width: 25%;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background: slategray;
    color: white;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: inherit;
    height: 100%;
    font-weight: 650;
    color: slategray;
    outline: none;
    transition: all .3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

button:hover {
    color: white;
    background: slategray;
}